body {
  font-family:"Microsoft YaHei" !important;
  font-size: 1.6em;
}

.page {
  border: 1px solid #ccc ! important ;
  background: #FEFEFE;
  box-shadow:0px 1px 2px #ddd;
  padding: 15px;
}

.unimportant-desc {
  font-size: 13px;
  color: #ccc;
}

.only-one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content {
  text-indent: 2em;
}

.hul {
  padding-left: 0;
  width: 100%;
  float: left;
}

.hui {
  float: left;
  text-align: left;
  list-style: none;
  width: 4em;
}

h1 {
  font-family:"Microsoft YaHei UI Light" !important;
  padding-bottom: 18px;
  border-bottom: 1px solid #ddd;
}

ul {
  list-style: none;
}


