.page {
  border: 1px solid #ccc ! important ;
  background: #FAFFFA;
  box-shadow:0px 1px 2px #ddd;
  padding: 15px;
}

.unimportant-desc-without-line {
  font-size: 0.8em;
  color: #ccc;
}

.unimportant-desc {
  font-size: 0.8em;
  color: #ccc;
  border-bottom: 1px solid #eee
}

.only-one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}