*.idea
*.iml
__pycache__
*.jpg
*.gif
*.db
*.one
*.csv
*.xml
*.ini
*.txt
*.jpeg
*.wav
*.mp3

gonglve/bd_aip/apps.py
config.py
gonglve/tools/*

*.pyc

*.png
Gomokuy/.DS_Store
gonglve/.DS_Store
gonglve/bd_aip/.DS_Store
gonglve/mycomposition/.DS_Store
segmentation/.DS_Store
.DS_Store
