<!doctype html>

<head>
	<title>五子棋</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<link href="{{ url_for('static', filename='style.css') }}" rel=stylesheet type=text/css>
</head>

<body>
	<br>
	<div class="container">
		<div class="row"><h1>五子棋<small>_第一版</small></h1></div>
		<br>
		<div class="row">
			<div class="col-xs-8">
				{% for line in range(game.width) %}
				<div class="row">
					<ul class="list-group list-inline">
						{% for cell in range(game.width) %}
							{% if game.table[line][cell] == 1 %}
								{% if [line, cell] == game.records[-1] %}
									<li class="list-group-item list-group-item-success but">10</li>
								{% else %}
									<li class="list-group-item list-group-item-success but">1</li>
								{% endif %}
							{% elif game.table[line][cell] == 2 %}
								{% if [line, cell] == game.records[-1] %}
									<li class="list-group-item list-group-item-warning but">20</li>
								{% else %}
									<li class="list-group-item list-group-item-warning but">2</li>
								{% endif %}
							{% else %}
								<li class="list-group-item but"><a href={{ url_for("home",loc=line * game.width + cell) }}>{{ line }},{{ cell }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>

				</div>
				{% endfor %}	

			</div>

			<ul class="col-xs-4 list-group">
				{% if game.over %}
					<li class="list-group-item"><h2>游戏结束！</h2></li>
				{% endif %}
				{% if game.records %}
					<li class="list-group-item">电脑刚刚走了 {{ game.records[-1] }}</li>
				{% endif %}
				<li class="list-group-item"><a href={{ url_for("home", retract=1)}}>悔棋</a></li>
				<li class="list-group-item"><a href={{ url_for("home", restart=1, aifirst = 1)}}>以白棋重开</a></li>
				<li class="list-group-item"><a href={{ url_for("home", restart=1, aifirst = 2)}}>以黑棋重开</a></li>
			</ul>		
		</div>
	</div>
</body>