{% extends "dashboard.html" %}

<h2>{{ query }}</h2>
<h2>{{ title }}</h2>
{% block article %}
<h1>搜索111文档</h1>
<form class="form-horizontal" method="post" role="form">
    <div class="form-group">
        <label class="col-sm-1 control-label" for="doc_md">文档MD</label>
        <div class="col-sm-11">
            <input type="text" name="doc_md" class="form-control" id="doc_md">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label" for="title">标题</label>
        <div class="col-sm-11">
            <input type="text" name="title" class="form-control" id="title" value={{ query }}>
        </div>
    </div>

    <div class="form-group">
        <label for="filter" class="col-xs-1 control-label">筛选</label>
        <div class="col-xs-11">
            <div class="row">
                <div class="col-xs-4">
                    <select class="form-control" name="grade" id="grade">
                        <option value="-1">年级</option>
                        {% for k,v in grade_map.items() %}
                        <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" name="genre" id="genre">
                        <option value="-1">体裁</option>
                        {% for k,v in genre_map.items() %}
                        <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                </div>

                <script type="text/javascript">$("#tongji").addClass("active");</script>

                <div class="col-xs-4">
                    <div class="input-group">
                        <span class="input-group-addon">作者</span>
                        <input type="text" name="author" class="form-control" id="author">
                    </div>
                </div>
            </div>
        </div>

        <label class="col-sm-1 control-label" for="button"></label>
        <div class="col-sm-11">
            <button type="submit" class="btn btn-primary">搜索文档</button>
        </div>

    </div>

    <br>
</form>



<table class="table table-bordered table-hover">
    <caption><h2>搜索结果</h2></caption>
    <thead>
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>年级</th>
            <th>体裁</th>
            <th>字数</th>
            <th>作者</th>
            <th>上线时间</th>
            <th>阅读量</th>
            <th>昨日阅读量</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% if entries %}
        {% for entry in entries %}
        <tr>
            <td><a href="/view/{{entry.doc_md}}">{{ entry.doc_id }}</a></td>
            <td>{{ entry.title }}</td>
            <td>{{ grade_map[entry.grade|string] }}</td>
            <td>{{ genre_map[entry.genre|string] }}</td>
            <td>{{ entry.words|string }}字</td>
            <td>{{ entry.author }}</td>
            <td>{{ entry.create_time|string }}</td>
            <td>{{ entry.view|string }}</td>
            <td>{{ entry.yesterday_view|string }}</td>
            <td><a href="/dashboard/edit/{{entry.doc_md}}">编辑</a></td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>


<ul class=pager>
    <!-- 翻页器 -->
    {% if paginate.has_prev %}
    <li><a href="/dashboard/list?query={{ query }}&page={{ paginate.prev_num }}">上一页</a></li>
    {% else %}
    <li class="disabled"><a>上一页</a></li>
    {% endif %}
    <li><a>第 {{ paginate.page+1 }} 页</a>
    {% if paginate.has_next %}
    <li><a href="/dashboard/list?query={{ query }}&page={{ paginate.prev_num }}">下一页</a></li>
    {% else %}
    <li class="disabled"><a>下一页</a></li>
    {% endif %}
</ul>

<br>
<br>

{% endblock %}
