{% extends "layout.html" %}

<script type="text/javascript"></script>

{% block article %}
	<div class="list-group">
		<a href="#" class="list-group-item">
			<h2 class="list-group-item-heading">
                {{ query }}<small>的搜索结果</small>
			</h2>
		</a>

		{% for item in res %}
		<a class="list-group-item" href="/view/{{item[1].doc_md}}">
			<p class="list-group-item-heading">
                {{ item[1].title }}
                <small style="color: #999999">&nbsp;·&nbsp;{{ item[0] | string }}</small>
                <span style="float: right; font-size: 0.9em">{{ genre_map[item[1].genre|string] }}&nbsp;&nbsp;·&nbsp;&nbsp;{{ grade_map[item[1].grade|string] }}&nbsp;&nbsp;·&nbsp;&nbsp;{{ item[1].words }}字</span>
			</p>
			<p class="list-group-item-text" style="font-size: 0.8em">
                {{ item[1].content.replace("<p>", "").replace("</p>", "")[:90] }}
            </p>
            <p></p>
		</a>
		{% endfor %}
	</div>

{% endblock %}

{% block aside %}

{% endblock %}
