{% extends "layout.html" %}

<script type="text/javascript"></script>


{% block article %}	
{% for entry in entries %}
	<div class="panel panel-default">
	    <div class="panel-heading">
	    	<a href="/view/{{entry.doc_md}}">{{ entry.title }}</a>
	    	<p style="float: right;font-size: 0.9em; color: #999">{{ entry.view }}人浏览</p>
    	</div>
	    <div class="panel-body">{{ entry.content.replace("<p>", "").replace("</p>", "")[:80] }}...</div>
	    <div class="panel-footer" style="font-size: 0.8em;color: #999">
    		{{ genre_map[entry.genre|string] }}&nbsp;&nbsp;·&nbsp;&nbsp;
    		{{ grade_map[entry.grade|string] }}&nbsp;&nbsp;·&nbsp;&nbsp;
    		{{ entry.words }}字
	    </div>  
	</div>
{% endfor %}

	<ul class=pager>
	<!-- 翻页器 -->
	{% if paginate.has_prev %} 
		<li><a href="/?{{ query_prefix }}&page={{ paginate.prev_num }}">上一页</a></li>
	{% else %} 
		<li class="disabled"><a>上一页</a></li>
	{% endif %} 
		<li><a>第 {{ paginate.page+1 }} 页</a>
	{% if paginate.has_next %} 
		<li><a href="/?{{ query_prefix }}&page={{ paginate.next_num }}">下一页</a></li>
	{% else %} 
		<li class="disabled"><a>下一页</a></li>
	{% endif %} 
	</ul>

	<br>
	<br>
{% endblock %}

{% block aside %}
<div class="list-group">
	<div class="list-group-item">
		<h4 class="list-group-item-heading">最热文档</h4>
	</div>

	{% for item in titles %}
	<a class="list-group-item" href="/view/{{item.doc_md}}">
		<p class="list-group-item-heading">{{ item.title }}</p>
		<p class="list-group-item-text" style="font-size: 0.8em">{{ item.view }}人浏览</p>
	</a>
	{% endfor %}
</div>
{% endblock %}
