<!doctype html>
<head>
    <title>彬彬的Flask之路</title>
</head>

<body>

    <div class=page>
        <header>
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='github.css') }}">

            <div class=metanav>
                {% if not session.logged_in %}
                    <a href="{{ url_for('login') }}">登录</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">退出登录&nbsp;</a>
                    <a href="{{ url_for('add_entry') }}">&nbsp;发布</a>
                {% endif %}
            </div>

            <h1 style="font-family: PMingLiU;border-bottom:0px;line-height: 0"><a href="{{url_for('show_entries')}}" style="color: #333">彬彬的Flask之路</a></h1>
            <br>

            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
        </header>

        <nav>
            <ul>
                <li><a href="{{url_for("show_entries")}}">首页</a></li>
                <li><a href="#">分类预留</a></li>
                <li><a href="#">标签预留</a></li>
            </ul>
        </nav>

        {% block body %}{% endblock %}

    </div>

</body>