{% extends "layout.html" %}

{% block body %}

    <div id="crumb_l" class=breadcrumb>
        <span>&nbsp;你的位置：</span>
        <a href="{{url_for("show_entries")}}">首页</a> &gt;
        登录
    </div>

    <article>
        <h2>请登录</h2>

        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        
        <form action="{{ url_for('login') }}" method=post>
            <dl >
                <dt style="width: 60px">用户名:
                <dd><input type=text name=username>
                <p></p>
                <dt style="width: 60px">密码:
                <dd><input type=password name=password>
                <p></p>
                <dt><input type=submit value=登录>
            </dl>
        </form>

    </article>

    

    <div style="clear: both;"></div>
{% endblock %}