{% extends "layout.html" %}

{% block body %}

        <div id="crumb_l" class=breadcrumb>
            <span>&nbsp;你的位置：</span>
            <a href="{{url_for("show_entries")}}">首页</a>
        </div>

		<article>
			<ul>
				{% for entry in entries %}
					<li><h4><a href="/view/{{entry.id}}">{{ entry.title }}</a></h4>
					<p style="font-size: 10px;color: #999">{{ entry.c_time[:10] }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ entry.page_view }} ℃</p>
					<p style="color: #333">{{ entry.abstract|safe }}</p>
					<HR>
				{% else %}
					<li><em>Unbelievable. No entries here so far</em>
				{% endfor %}
			</ul>
		</article>

		<aside>
			<h4 style="color: #666">最热文档 Top 10</h4>
			<ul>
				{% for title in titles %}
					<li><a href="/view/{{title.id}}">{{ title.title }}</a>
					<p style="font-size: 10px;color: #bbb">{{ title.page_view}}&nbsp;℃</p>
					<hr style="margin:4px;border-bottom: 1px dashed #eee;">
				{% else %}
					<li><em>Unbelievable. No entries here so far</em>
				{% endfor %}
			</ul>
		</aside>

{% endblock %}