{% extends "layout.html" %}

{% block body %}

        <div id="crumb_l" class=breadcrumb>
            <span>&nbsp;你的位置：</span>
            <a href="{{url_for("show_entries")}}">首页</a>
        </div>

		<article>

			{% for entry in entries %}
				<div class=container>
					<div class=container-thumb>
						<a href="/view/{{entry.id}}">
							<img class=img-in-container src="{{ entry.thumb }}">
						</a>
					</div>

					<div class=container-body>
						<h2 class=title-in-container><a href="/view/{{entry.id}}">{{ entry.title }}</a></h2>
						<p class=unimportant-desc>{{ entry.c_time[:10] }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ entry.page_view }} ℃</p>
						<p class=content-in-container>{{ entry.abstract }}</p>
					</div>
				</div>
				<br/>
			{% endfor %}

		</article>

		<aside>
			<h2 class=title-in-container>最热文档 Top 10</h2>
			<ul>
				{% for title in titles %}
					<li><a href="/view/{{title.id}}">{{ title.title }}</a>
					<p class=unimportant-desc>{{ title.page_view}}&nbsp;℃</p>
				{% else %}
					<li><em>Unbelievable. No entries here so far</em>
				{% endfor %}
			</ul>
		</aside>

		<div style="clear: both;"></div>

		<div class=paginate-box>
			{% if paginate.has_prev %} 
				<a style="margin-right: 1em;" href="/">首页</a>
	            <a href="/{{ paginate.prev_num }}">上一页</a>
	        {% else %} 
	        	<a style="margin-right: 1em;color:#999;" href="/">首页</a>
	        	<a style="color:#999;" href="/{{ paginate.prev_num }}">上一页</a>
	        {% endif %} 
	        	<a style="margin: 0 2em 0 2em;font-size: 10px;color:#999;">第 {{ paginate.page }} / {{ paginate.pages }} 页</a>
	        
	        {% if paginate.has_next %} 
	            <a href="/{{ paginate.next_num }}">下一页</a>
	            <a style="margin-left: 1em;" href="/{{ paginate.pages }}">末页</a>
            {% else %} 
            	<a style="color:#999;" href="/{{ paginate.next_num }}">下一页</a>
            	<a style="margin-left: 1em;color:#999;" href="/{{ paginate.pages }}">末页</a>
	        {% endif %} 
			
		</div>

		<div style="clear: both;"></div>

{% endblock %}