{% extends "layout.html" %}

{% block body %}

        <div id="crumb_l" class=breadcrumb>
            <span>&nbsp;你的位置：</span>
            <a href="{{url_for("show_entries")}}">首页</a>
        </div>

		<article>

			{% for entry in entries %}
				<div class=container>
					<div class=container-thumb>
						<a href="/view/{{entry.id}}">
							<img class=img-in-container src="{{ entry.thumb }}">
						</a>
					</div>

					<div class=container-body>
						<h2 class=title-in-container><a href="/view/{{entry.id}}">{{ entry.title }}</a></h2>
						<p class=content-in-container>{{ entry.c_time[:10] }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ entry.page_view }} ℃</p>
						<p class=content-in-container>{{ entry.abstract|safe }}</p>
					</div>
				</div>
				<br/>
			{% endfor %}

		</article>

		<aside>
			<h2 class=title-in-container style="color:#666">最热文档 Top 10</h2>
			<ul>
				{% for title in titles %}
					<li><a href="/view/{{title.id}}">{{ title.title }}</a>
					<p class=aside-desc>{{ title.page_view}}&nbsp;℃</p>
				{% else %}
					<li><em>Unbelievable. No entries here so far</em>
				{% endfor %}
			</ul>
		</aside>

{% endblock %}