{% extends "layout.html" %}

{% block header %}
	<div class="page-header">
		<h1>Flasky&nbsp;<small>by Bootstrap</small></h1>
	</div>
{% endblock %}

{% block article %}	
	<ul class="media-list">
	{% for entry in entries %}
		<li class="media">
			<a class="pull-left" href="/view/{{entry.id}}"><img class="img-thumbnail media-object" src="{{ entry.thumb }}" alt="{{ entry.title }}" style="height: 115px;width: 140px;"></a>
			<div class="media-body">
				<h4 class=title-in-container><a href="/view/{{entry.id}}">{{ entry.title }}</a></h4>
				<p style="font-size: 10px;line-height: 0.5">{{ entry.c_time[:10] }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ entry.page_view }} ℃</p>
				<p style="font-size: 10px;line-height:1.3;max-height: 45px;overflow: hidden;">{{ entry.abstract }}</p>
			</div>
			<hr>
		</li>

	{% endfor %}	
	</ul>


	<ul class=pager>
	{% if paginate.has_prev %} 
		<li><a href="/">首页</a></li>
		<li><a href="/{{ paginate.prev_num }}">上一页</a></li>
	{% else %} 
		<li class="disabled"><a>首页</a></li>
		<li class="disabled"><a>上一页</a></li>
	{% endif %} 
		<li><a>第 {{ paginate.page }} / {{ paginate.pages }} 页</a>

	{% if paginate.has_next %} 
		<li><a href="/{{ paginate.next_num }}">下一页</a></li>
		<li><a href="/{{ paginate.pages }}">末页</a></li>
	{% else %} 
		<li class="disabled"><a>下一页</a></li>
		<li class="disabled"><a>末页</a></li>
	{% endif %} 
	</ul>
{% endblock %}

{% block aside %}
	<h4>最热文档 Top 10</h4>
	<ul>
		{% for title in titles %}
			<li><a href="/view/{{title.id}}">{{ title.title }}</a>
			<p class=unimportant-desc>{{ title.page_view}}&nbsp;℃</p>
			<hr>
		{% endfor %}
	</ul>
{% endblock %}
