.but {
  height: 40px;
  width: 40px;
  /*border: 1px solid #CCC;*/
  text-align:center;
}

.lin {
  height: 36px;
  width: 36px;
}

.list-group-item-success {
	background-color: #333;
}

.list-group-item-warning {
	background-color: #ccc;
}

.warninga {
	color: #ccc;
	border: 0;
}

.successa {
	color: #333;
	border: 0;
}