.but {
  height: 42px;
  width: 42px;
  border: 1px solid #CCC;
  text-align:center;
}

.lin {
  height: 36px;
  width: 36px;
}

.list-group-item-success {
	background-color: #333;
}

.list-group-item-warning {
	background-color: #EEE;
}