.but {
  height: 42px;
  width: 42px;
  border: 1px solid #CCC;
  text-align:center;
}

.new {
  color: #F00 !important;
}

.list-group-item-success {
  background-color: #333;
  color: #333;
}

.list-group-item-warning {
  background-color: #EEE;
  color: #EEE;
}